body {
    background-color: pink;
}


h1 {
    font-size: 16px;
    font-family: arial, sans-serif;
    text-align: center; 
}

h2 {
  font-size: 13px;
  font-family: arial, sans-serif;
  text-align: center; 
}

p {
    font-size: 12px;
    font-family: arial, sans-serif;
    text-align: center; 
}

.selections {
  left: 50%;
  right: auto;
  text-align: center;
  margin-bottom: 25px;
}


#container {
    margin: auto;
  }
  

  .card {
    max-width: 500px;
    max-height: auto;
    background: white;
    border-radius: 12px;
    border: 2px solid black;
    margin: auto;
    margin-bottom: 10px;
  }
  

  .card img {
    width: 100%;
    margin: 12px 0;
  }
  
  .card p {
    font-family: Arial;
  }
