html, body {
    background-color: pink;
    
}

h1 {
    font-size; 16px;
    font-family: arial, sans-serif;
    text-align: center; 
}


p {
    font-size; 12px;
    font-family: arial, sans-serif;
    text-align: center; 
}



#filterDropdown {
    margin-bottom: 16px;
    text-align: center;
    position: absolute;
    padding: 4px; 
  }
  
  #container {
    width: 50px;
    height: 50px;
  }
  


  .card {
    min-height: 200px;
    min-width: 200px;
    background: white;
    border-radius: 12px;
    border: 2px solid black;
    margin: 10px;
  }
  



  .card img {
    width: 100%;
    margin: 12px 0;
  }
  
  .card p {
    font-family: Arial;
  }
